/* contact info */
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

.main {
  margin-top: 30px;
}
/*contact info*/


li {
  float: left;
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

h1 .container {
  float: left;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.projects-list {

}
.projects {

}

.panel-heading {
  background-color:
}
