body {
  background-image: url("../img/bg.jpg");
  background-size: 400px;
}
.main-body {
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'ABeeZee', sans-serif;
  color: #A5ADA6;
}

a {
  color: #5C4A4A;
}

.column {
  width: 680px;
  float: left;
  padding: 5px;
}

.well {
  background-color: #DCD7D2;
}

img {
  width: 550px;
  border-radius: 20px;
}
.name {
  font-size: 40px;
  font-family: 'Lobster', cursive;
  color: #4A5959;
}
.about-me {
  float:right;
  font-family: 'ABeeZee', sans-serif;
  background-color: #CCCFCC;
}
ul.no-bullet {
  list-style: none;
}
li {
  max-width: 500px;
}
.contact {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: #4A5959;
}
.content-wrapper {
 width: 1420px;
 margin-top: 60px;
 margin-right: auto;
 margin-left: auto;
}

@media screen and (max-width: 1400px) {
 .content-wrapper {
   width: 740px;
 }
}
